{{#> page}}
<div class="jw-tree-node jw-element jw-album-gallery jw-node-is-first-child">
    <div class="fotorama"
         data-allowfullscreen="true"
         data-fit="contain"
         data-width="100%"
         data-ratio="1.44"
         data-maxwidth="590"
         data-nav="thumbs"
         data-navposition="bottom"
         data-thumbheight="50"
         data-transition="slide"
         data-swipe="true"
         data-fotorama-fullscreen-generated="true">
        {{#each images}}
            <a href="{{url}}">
                <img alt="thumbnail" src="{{thumbnail.url}}"
                     height="{{thumbnail.height}}"
                     width="{{thumbnail.width}}"/>
            </a>
        {{/each}}
    </div>
</div>
<div class="jw-tree-node jw-element jw-image-text jw-node-is-last-child">
    <div class="jw-element-imagetext-text">
        <p>{{breakLines context}}</p>
    </div>
</div>
{{/page}}
