---
import MenuItem from '../components/MenuItem.astro'
import {getCollection} from 'astro:content'
import type {CollectionEntry} from 'astro:content'
import type {MenuItemProps} from '../types/MenuItemProps'
import {getImage} from 'astro:assets'
import type {ImageMetadata} from 'astro'

interface Props {
  title: string
  previewImageUrl: string
  description: string
}

function compareMenuItemData(a: CollectionEntry<'sculptures'>, b: CollectionEntry<'sculptures'>): number {
  if (a.data.impressivenessScore > b.data.impressivenessScore) {
    return -1
  }

  if (a.data.impressivenessScore < b.data.impressivenessScore) {
    return 1
  }

  return 0
}

function isPathActive(expectedPath: string, currentPath: string): boolean {
    const regex = new RegExp(`^${expectedPath}\/?$`)
    return regex.test(currentPath)
}

function createMenuItems(sculptures: CollectionEntry<'sculptures'>[], currentPath: string): MenuItemProps[] {
  const menuItems: MenuItemProps[] = []

  menuItems.push({
    name: 'Home',
    url: '/',
    isActive: isPathActive('/', currentPath),
  })

  const sculptureMenuItems: MenuItemProps[] = sculptures
    .sort(compareMenuItemData)
    .map(item => ({
      name: item.data.title,
      url: `/${item.id}/`,
      isActive: isPathActive(`/${item.id}`, currentPath),
    }))

  menuItems.push(...sculptureMenuItems)

  menuItems.push({
    name: 'Over',
    url: '/about/',
    isActive: isPathActive('/about', currentPath),
  })

  menuItems.push({
    name: 'Contact',
    url: '/contact/',
    isActive: isPathActive('/contact', currentPath),
  })

  return menuItems
}

const sculptureCollection = await getCollection('sculptures')

const {title, description, previewImageUrl} = Astro.props

const menuItems = createMenuItems(sculptureCollection, Astro.url.pathname)

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.webp')

const previewImageResult = await getImage({src: images[previewImageUrl](), format: 'webp'})
---

<!doctype html>
<html lang="nl">
<head>
    <title>{title} - the oak tells</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={Astro.url}>
    <meta property="og:title" content={`${title} - the oak tells`}>
    <meta property="og:url" content={Astro.url}>
    <meta name="description" property="og:description"
          content={description} />
    <meta property="og:image"
          content={new URL(previewImageResult.src, Astro.site)}>
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:image"
          content={new URL(previewImageResult.src, Astro.site)}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <meta name="generator" content={Astro.generator}/>
    <script is:inline src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.min.css"
          integrity="sha512-bjwk1c6AQQOi6kaFhKNrqoCNLHpq8PT+I42jY/il3r5Ho/Wd+QUT6Pf3WGZa/BwSdRSIjVGBsPtPPo95gt/SLg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" rel="stylesheet"/>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.min.js"
            integrity="sha512-cWEytOR8S4v/Sd3G5P1Yb7NbYgF1YAUzlg1/XpDuouZVo3FEiMXbeWh4zewcYu/sXYQR5PgYLRbhf18X/0vpRg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body class="jw-is-slideshow jw-strips--align-left jw-header-is-text jw-is-segment-page jw-is-frontend jw-is-no-sidebar jw-is-no-messagebar jw-is-no-touch-device jw-is-no-mobile jw-menu-is-desktop jw-is-menu-multiline jw-menu-is-collapsed">
<div class="jw-background"></div>
<div class="jw-body">
    <div class="jw-mobile-menu jw-mobile-is-text js-mobile-menu">
        <span class="jw-mobile-menu__button jw-mobile-menu__button--dummy"></span>
        <div class="jw-mobile-header jw-mobile-header--text">
            <a class="jw-mobile-header-content" href="/">
                <div class="jw-mobile-text">
                    <span style="color: #65c77a; font-size: 120%;">the oak tells</span>
                </div>
            </a>
        </div>
        <button id="mobile-menu-toggle-button" type="button" class="jw-mobile-menu__button jw-mobile-toggle"
                aria-label="Open / sluit menu">
            <span class="jw-icon-burger"></span>
        </button>
    </div>
    <nav class="menu jw-menu-clone jw-menu-collapse">
        <ul class="jw-menu jw-menu-vertical">
          {
            menuItems.map(menuItem =>
                    <MenuItem {...menuItem}/>)
          }
        </ul>
    </nav>
    <div class="content-root">
        <div class="right">
            <div class="right-content">
                <main class="block-content">
                    <div class="jw-section jw-section-content jw-responsive">
                        <div class="jw-tree-node jw-element jw-strip-root jw-tree-container">
                            <div class="jw-tree-node jw-element jw-strip jw-tree-container jw-strip--default jw-strip--style-color jw-strip--color-default jw-strip--padding-both jw-node-is-first-child jw-strip--primary jw-node-is-last-child">
                                <div class="jw-strip__content-container">
                                    <div class="jw-strip__content jw-responsive lt600 lt640 lt800">
                                        <slot/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="block-footer">
                    <div class="jw-section jw-section-footer jw-responsive">
                        <div class="jw-strip jw-strip--default jw-strip--style-color jw-strip--primary jw-strip--color-default jw-strip--padding-both">
                            <div class="jw-strip__content-container">
                                <div class="jw-strip__content jw-responsive lt640 lt800 lt600">
                                    <div class="jw-tree-node jw-element jw-simple-root jw-tree-container jw-tree-container--empty">
                                    </div>
                                    <div class="jw-credits clear">
                                        <div class="jw-credits-owner">
                                            <div id="jw-footer-text">
                                                <div class="jw-footer-text-content">
                                                    © 2009 - {(new Date()).getFullYear()} the oak tells
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jw-credits-right">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <div class="left">
            <div class="left-content simple-brick-max-width-sidebar">
                <div class="logo-wrapper js-topbar-content-container">
                    <div class="clear">
                        <div class="jw-header-logo">
                            <div class="jw-header jw-header-title-container jw-header-text jw-header-text-toggle">
                                <a class="jw-header-title" href="/">
                                    <span style="color: #65c77a; font-size: 120%;">the oak tells</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="logo-seperator"></div>
                </div>
                <nav class="nav jw-menu-copy">
                    <ul id="jw-menu" class="jw-menu jw-menu-vertical sf-js-enabled sf-arrows"
                        style="touch-action: pan-y;">
                      {
                        menuItems.map(menuItem =>
                                <MenuItem {...menuItem}/>)
                      }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script is:inline defer src="/index.js"/>
